.carrusel-principal{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 50%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
  img.carrusel-item{
    height: 50%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }
    
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;


.image-container {
  position: relative;
  margin: 10px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.view-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estilos adicionales para diferentes tamaños de pantalla */
@media only screen and (max-width: 768px) {
  .image-container {
    width: 100%;
  }
}
}
