body{
    background-image: linear-gradient(to left, #b35dbb, #c16ec0, #cd80c6, #d992cc, #e3a4d3);
  width: 100%;
  height: 100%;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, seriff;

}

header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 30%;
    z-index: 100;
    display: block;
    position: fixed;
    
}

